In [2]:
%pip install opendatasets pandas numpy scikit-learn

Requirement already satisfied: opendatasets in ./jovian/lib/python3.12/site-packages (0.1.22)
Requirement already satisfied: pandas in ./jovian/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy in ./jovian/lib/python3.12/site-packages (2.3.4)
Requirement already satisfied: scikit-learn in ./jovian/lib/python3.12/site-packages (1.7.2)
Requirement already satisfied: tqdm in ./jovian/lib/python3.12/site-packages (from opendatasets) (4.67.1)
Requirement already satisfied: kaggle in ./jovian/lib/python3.12/site-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in ./jovian/lib/python3.12/site-packages (from opendatasets) (8.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./jovian/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./jovian/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./jovian/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: scipy>=1.8.0 in ./jovian/lib/python3.12/site-packages (from scikit-learn) (1.16.2)
Requirement already satisfied: joblib>=1.2.0 in ./jovian/lib/python3.12/site-packages (from scikit-learn) (1.5.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in ./jovian/lib/python3.12/site-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in ./jovian/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: bleach in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (2025.10.5)
Requirement already satisfied: charset-normalizer in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (3.4.4)
Requirement already satisfied: idna in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (3.11)
Requirement already satisfied: protobuf in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (6.33.0)
Requirement already satisfied: python-slugify in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.5)
Requirement already satisfied: setuptools>=21.0.0 in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (80.9.0)
Requirement already satisfied: text-unidecode in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in ./jovian/lib/python3.12/site-packages (from kaggle->opendatasets) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import opendatasets as od
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib
import os
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 150)
sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (10, 6)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [4]:
od.download("https://www.kaggle.com/datasets/jsphyg/weather-dataset-rattle-package")

Skipping, found downloaded files in "./weather-dataset-rattle-package" (use force=True to force download)

In [5]:
raw_df = pd.read_csv('./weather-dataset-rattle-package/weatherAUS.csv')

In [6]:
raw_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,WNW,20.0,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,WSW,4.0,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,WSW,19.0,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,E,11.0,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,NW,7.0,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,ENE,13.0,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,N,13.0,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,WNW,9.0,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,N,13.0,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,ESE,17.0,17.0,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [7]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [8]:
raw_df.dropna(subset=['RainTomorrow'], inplace=True)